/* Estilos Gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    background-color: #ecebff;
    margin: 0;
}

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    height: 100vh;
    border-radius: 0 18px 18px 0;
    position: fixed;
    left: 0;
    transition: all 0.5s;
    min-width: 82px;
    padding: 20px;
}

#side-items {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
    margin-top: 25%;
}

.side-item {
    border-radius: 8px;
    padding: 14px;
    cursor: pointer;
}

.side-item.active {
    background-color: #4f46e5;
}

.side-item:hover:not(.active),
#logout_btn:hover {
    background-color: #e3e9f7;
}

.side-item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #0a0a0a;
}

.side-item.active a {
    color: #e3e9f7;
}

.side-item a i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

#logout {
    border-top: 1px solid #e3e9f7;
    padding: 12px;
}

#logout_btn {
    border: none;
    padding: 12px;
    font-size: 14px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
    text-align: start;
    cursor: pointer;
    background-color: transparent;
}

#open_btn {
    position: absolute;
    top: 30px;
    right: -10px;
    background-color: #4f46e5;
    color: #e3e9f7;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: none;
}

#open_btn_icon {
    transition: transform 0.3s ease;
}

#sidebar.open-sidebar #open_btn_icon {
    transform: rotate(180deg);
}

.item_description {
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: width 0.6s;
    height: 0;
}

#sidebar.open-sidebar
{
    min-width: 15%;
}

#sidebar.open-sidebar .item_description{
    width: 150px;
    height: auto;
}

#sidebar.open-sidebar .side-item a{
    justify-content: flex-start;
    gap: 14px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
}

label, input, select, #resultado {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
}

input {
    margin-bottom: 10px;
}

#resultado {
    display: none;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#preco {
    font-size: 24px;
    font-weight: bold;
    color: #4f46e5;
    text-align: center;
}

#dicas {
    margin-top: 20px;
}

#dicas h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 20px;
    cursor: pointer;
}

.card-header {
    padding: 15px;
    background-color: #4f46e5;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.card-content {
    padding: 15px;
    display: none;
}

.card-content p {
    margin: 0;
}

.card.open .card-content {
    display: block;
}

.card-header i {
    transition: transform 0.3s;
}

.card.open .card-header i {
    transform: rotate(180deg);
}

